# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
venv/
env/
ENV/

# IDE/Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Python bytecode
*.pyc

# PyInstaller
*.log
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Pytest
.cache/

# Coverage
.coverage
.coverage.*
.cache/

# Distribution/Packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

.idea
